.body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  margin: 0;
  overflow: hidden;
  
  
 
}




.logo{
  
  font-size: 60px;
  font-family: 'Mukta Mahee';
  font-weight: 700;
  width: fit-content;
  padding-top: 0px;
  margin-top: 64px;
 margin-left: 30px;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
  user-select: none;
  
 
  
  
}

@media only screen and (max-width: 767px) {
  /* Apply changes only for small screens */
  .body{

  margin: 0;
  padding: 0;



  }
  .logo {
    font-size: 3.5rem; /* Decrease font size for small screens */
    vertical-align: middle;
    margin-top: 63px;
    
  }
  .header {
    
    
    
    right: 0;
    left: 0;
    
  }

  .menu-hamburguer {
    height: 0.5em; /* Decrease font size for small screens */
    margin-right: -10px;
    
  }
  .logo-menu{
    font-size: 3.5rem;
    padding-left: 30px;
    
    

  }


  
  #container{
    padding-left: 30px;
    
    
    
    


  }
   .close-button{
    
   }
  

  .socialmedia-menu{

    margin-top: 30px;
    
  }
   
  .logos-footer-menu{
    
    
   height: fit-content;
    
    
    
  }
  .legal-menu{
    
    padding-left: 30px;
    margin-top: -30px;
  }

  .menu-container{
    
  margin-top: 0px;

    

  }
  


  .main-tittle{
    
   
    
    
   
    
  }
  .name1{
    font-size: 8px;
    margin-top: 10px;
    background-color: rgb(242, 242, 242);
    
  }

  .main-tittle1{
    
    line-height: 20px;
  }

  .first-row{

    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15px;
    margin-right: 15px;
    gap: 23px;
  }
  .final-text{
    font-size: 10px;
    margin-bottom: 20px;
  }

  
 



}

.header.scrolled .logo {
color: #fb0074
}



.header{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  margin-top: -8px;
  transition: background-color 0.3s ease;
  height: 4.1rem;
  left: 0;
  right: 0;
  align-items: center;
  overflow: hidden;
 
  user-select: none;
  position: fixed;
  z-index: 9999;
 
  
  
}

.header.scrolled {
background-color: white;
}



.photocover{
  max-width: 100vw;
  margin-top: 57px;
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
  cursor: pointer;
  

  padding: 0;

  
}


 .menu-hamburguer{
 

  height: 15px;

 }

 





 .menu{
  margin-right: 30px;
  transition: color 0.3s ease;
  opacity: 0;
  
  width: fit-content;

 }
  
 .header.scrolled .menu {
opacity: 1;
cursor: pointer;
}

.text1:hover{
  color: white;
  
}
.text2:hover{
  color: white;
  
}
.text3:hover{
  color: white;
  
}
.text4:hover{
  color: white;
  
}





@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translatey(-100%);
  }
  100% {
    opacity: 1;
    transform: translatey(0%);
  }
}
.menu-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  background-color: white;
  height: 720px;
  bottom: 0;
  width: 410px;
  position: fixed;
  margin-right: 0;
  padding-right: 0;
  justify-content: right;
  z-index: 9999;
  overflow: hidden;
  animation: slideIn 1s ease;
  

  
  
  

}
  
 



.menu-container.closed {
transition: opacity 0.3s ease;
opacity: 0;
pointer-events: none;
}

.close-button{

  
  cursor: pointer;
  margin-top: 35px;
  margin-right: 30px;
  text-align: right;
  user-select: none;
  margin-left: 335px;
  display: inline-block;
  transform-origin: center right;
  transition: transform 1s, transition delay 0.5s;
  
  
  
}
.close-button:hover{
  font-weight: 700;
  transform: scaleX(1.3);
  transition-delay: 0s;
  





}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  background-color: rgba(0, 0, 0, 0.5);
  
  display: none;
  pointer-events: none;
 
  
}

.menu-container.active {
  overflow-y: auto;
  position: fixed;
  top: 0;
  
  right: 0;
  
  background-color: white;
  display: block;
  
  

  
  
  
}

body.menu-container-active {
  overflow: hidden;
  position: relative;
  
}

.menu-container .menu {
  margin-right: 0;
}


.search-box {
width: 300px;
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
user-select: none;
display: none;



}

.search-input {
display: none;
margin-left: 30px;
padding: 5px;
font-size: 12px;
font-family: Helvetica;
color: rgb(90, 90, 90);
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(204, 204, 204);
border-bottom-style: solid ;
border-bottom-width: 1px;
border-right: none;
border-left: none;
border-top: none;
user-select: none;
height: 20px;
width: 180px;
margin-bottom: 20px;
margin-top: 30px;
user-select: none;

}
.search-input:focus {
outline: none; /* Removed the default focus outline */

}

.logo-menu{

font-family: 'Mukta Mahee';
font-size: 60px;
margin-left: 30px;
font-weight: 700;
margin-bottom: 10px;
width: fit-content;
margin-top: -40px;
transition: color 2s linear;
height: fit-content;
user-select: none;
}

.logo-menu.gray{
color: rgb(215, 211, 211);
}
#container{
  margin-top: 30px;margin-left: 30px;line-height: 22px;font-style: italic;font-family: 'Mukta Mahee';user-select: none;font-size: 17px;padding-bottom: 20px;
}

.darken-background {
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
z-index: 9999;

}

body.menu-container-active .darken-background {
display: block;


}



.ig-logo{

height: 9px;
margin-top: 6px;
cursor: pointer;


}




.linkedin-logo{

height: 10px;
cursor: pointer;


}

.twitter-logo{

height: 10px;
cursor: pointer;
}



.text1-1{
cursor: pointer;
width: fit-content;
}
.text1-1:hover{
color:rgb(143, 137, 137);
}
.text2-1{
cursor: pointer;
width: fit-content;
}
.text2-1:hover{
color:rgb(143, 137, 137);
}
.text3-1{
width: fit-content;
cursor: pointer;
}
.text3-1:hover{
color:rgb(143, 137, 137);
}
.text4-1{
width: fit-content;
cursor: pointer;
}
.text4-1:hover{
color:rgb(143, 137, 137);
}
.text7-1{

margin-top: 20px;
font-size: 12px;
line-height: 20px;
color: rgb(143, 137, 137);
}




.magnify {
position: relative;
display: inline-block;

}

.magnify-text {
position: relative;
display: inline-block;
transition: transform 0.3s ease;
transform-origin: top left;
}

.magnify:hover .magnify-text {
transform: scaleX(1.3);
font-weight: bold;
transform-origin: left center;
}








.content-item1{


margin-right: 310px;
cursor: pointer;

}






.content-item2{

margin-right: 370px;

cursor: pointer;

}
.content-item3{

margin-right: 390px;

cursor: pointer;
}

.content-item4{

margin-right: 355px;

cursor: pointer;
}
.content-item5{

margin-right: 365px;

cursor: pointer;
}

.content-item6{

margin-right: 365px;

cursor: pointer;
}


@media (max-width: 100%) {
  .photocover {
    max-width: 100%;
  }
.final-text{

  font-size: 1%;
}
.text1{
  font-size: 1px;
}










}
.photo1{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo2{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo3{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo4{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo5{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo6{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo7{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.photo8{
width: 100%;
cursor: pointer;
margin-bottom: 14px;
}  
.subscribe:hover{

border-color: black;



}
.email-subscriber{
font-size: 14px;
font-weight: 700;
background-color: white;
margin-right: 121px;
color: grey;
width: fit-content;
height: 40px;
display: none;

}

.viewport {
  width: calc(100% - 100px); /* Add 50px margin on both left and right sides */
  margin: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-frame {
  background: none;
  border: none;
 
}

.carousel {
  width: 100vw;
  height: 500px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  
}

.scroll {
  margin: 0; /* Remove left and right margin */
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%; /* Use 100% width */
  
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; /* Add smooth scroll behavior */
  white-space: nowrap; /* Prevent images from wrapping into multiple rows */
}

ul.scroll {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll-item-outer {
  width: 100%;
  height: auto;
  margin-right: 20px; /* Add 20px right margin to create the gap */
  display: inline-block; /* Display items in a row */
}

.scroll-item {
  width: 260px; /* Adjust the width to the desired original size in pixels */
  height: 500px; /* Adjust the height to the desired original size in pixels */
  display: inline-block; /* Display items in a row */
}

.image-carousel {
  object-fit: cover;
  width: 100%;
  height: 100%;
}








.latest {
  
  text-align: center;
  font-family: 'Mukta Mahee'; font-size: 48px;text-align: center;font-style: italic;margin-bottom: 30px;user-select: none;
  
  
  
  
  
}


.today {
  
  text-align: center;
  font-family: 'Mukta Mahee'; font-size: 48px;text-align: center;font-style: italic;margin-bottom: 150px;overflow-x: hidden;user-select: none;
  
  
}



.main-tittle:hover{

color: rgb(143, 137, 137);




}

.ig-logo-latest{

  height: 11px;
  cursor: pointer;
  margin-top: 4px;
  
}
.linkedin-logo-latest{
cursor: pointer;
height: 11px;

}
.twitter-logo-latest{

cursor: pointer;
height: 13px;
margin-top: 4px;

}


a {
text-decoration: none;

}


img {
user-select: none;
}



.underphoto-hover:hover{

color: rgb(143, 137, 137);
}


/* CSS for the text underline and text replacement effect */
/* CSS for the text underline and text replacement effect */



.magnify-text1 {
  display: inline-block;
  transform-origin: center left;
  
  transition: transform 0.4s, transition-delay 0.1s; /* Adjust the transition duration and delay */
}

.magnify-text1.hover {
  transform: scaleX(1.5);
  transition-delay: 0s; /* Reset the transition delay on hover */
  font-weight: bold;
 
}


.main-tittle1:hover{

color: rgb(143, 137, 137);


}

.first-row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-top: -200px;
  overflow-x: hidden;
}
.cuadro1{
  flex-basis: 100%;
  font-family: 'Mukta Mahee';
  user-select: none;
}
.container1{
  margin-top: 80px;
  font-size: 12px;
  margin-bottom: 7px;
  user-select: none;
  font-weight: 300;
  font-family: 'Mukta Mahee';
  cursor: pointer;
  width: fit-content;

}
.underphoto-hover{
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
  user-select: none;
  font-family: 'Mukta Mahee'
}

.text1-cuadro1{
  margin-top: 20px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  user-select: none;font-family: 'Mukta Mahee';color: rgb(125, 116, 116);
}

.box-main-tittle1{


  background-color: rgb(242, 242, 242);display: flex;flex-direction: column;max-width: 100vw;overflow: hidden;margin-top: -10px;margin-left: -8px;margin-right: -8px;height: fit-content;margin-bottom: 50px;
}
.main-tittle1{

  font-size: 51px;font-weight: 500;font-family: 'Mukta Mahee';text-align: center;margin-top: 35px;user-select: none;
}
.name2{

  text-align: center;margin-top: -15px;font-family: 'Mukta Mahee';user-select: none;margin-bottom: 10px;
}

.name1{

  text-align: center;font-family: 'Mukta Mahee';user-select: none;background-color: rgb(242, 242, 242);margin-left: -8px;margin-right: -8px;overflow: hidden;margin-top: -44px;padding-bottom: 10px;padding-top: 20px;
}
.main-tittle{

  font-size: 51px;font-weight: 500;font-family: 'Mukta Mahee';text-align: center;margin-top: -8px;user-select: none;background-color: rgb(242, 242, 242);padding-top: 20px;overflow: hidden;margin-left: -8px;margin-right: -8px;
}


.thanksforsubscribe{
  width:420px;height: 150px;display: none;position: absolute;margin-left: 30px;background-color: white;user-select: none;
}
.thanks{
  font-size: 20px;margin-top: 40px;font-style: italic;font-weight: 700;background-color: white;margin-bottom: 15px;user-select: none;

}
.wehave{
  font-size: 15px;font-style: italic;margin-right: 0px;width: 400px;height: 30px;background-color: white;user-select: none;
}
.socialmedia-menu{
  display: flex;flex-direction: row;justify-content: center;gap: 25px;margin-top: 35px;
}
.logos-footer-menu{

  height: 255px;width: 100%;background-color: rgb(242, 242, 242);margin-bottom: -100px;overflow: hidden;margin-top: 44px;
}
.subscribe{
  margin-left: 40px;border-color: rgb(147, 145, 145);border-style: solid;padding-left: 20px;border-width: 1px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;font-size: 13px;color: rgb(90, 90, 90);cursor: pointer;transition: border-color 0.3s ease;user-select: none;
}
.legal-menu{
  font-size: 12px;margin-left: 30px;line-height: 9px;margin-top: 40px;font-family: 'Mukta Mahee';user-select: none;

}
.final-text{

  display: flex;flex-direction: row;justify-content: center;gap: 20px;color: white;overflow-x: hidden;
}
.logos-footer-page{
  display: flex;flex-direction: row;justify-content: center;gap: 35px;margin-top: -10px;margin-bottom: 40px;vertical-align: middle;overflow: hidden;
}
.logo-footer{
  text-align: center;margin-bottom: 15px;font-size: 60px;font-family: 'Mukta Mahee';font-weight: 700;color:#fb0074;overflow: hidden; user-select: none;vertical-align: middle;
}
.footer-page{
  background-color: black;height: 250px;left: 0;right: 0;width: 100vw;margin-top: 70px;margin-bottom: -30px;padding-top: 30px;padding-bottom: 60px;font-size: 14px;position: absolute;overflow: hidden;align-items: center;display: flex;justify-content: center;
}
